In [1]:
import itertools
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

import matplotlib
import matplotlib.pyplot as plt
from matplotlib import figure

import glob

from datetime import datetime

import statsmodels.api as sm

In [9]:
def read_file_to_df(path):
    all_files = glob.glob(path + '/*.csv')
    df = pd.DataFrame()
    for filename in all_files:
        temp = pd.read_csv(filename)
        df = pd.concat([df, temp])
    return df

In [10]:
de_rompert = read_file_to_df('./data/den bosch/sewer_data_db/flow/de Rompert/')
'''
bokhoven = read_file_to_df('./data/den bosch/sewer_data_db/flow/Bokhoven/')


haarsteeg = read_file_to_df('./data/den bosch/sewer_data_db/flow/Haarsteeg/')
helftheuvelweg = read_file_to_df('./data/den bosch/sewer_data_db/flow/Helftheuvelweg/')
maaspoort = read_file_to_df('./data/den bosch/sewer_data_db/flow/Maaspoort/')
oud_engelseweg = read_file_to_df('./data/den bosch/sewer_data_db/flow/Oud Engelseweg/')
engelerschans = read_file_to_df('./data/den bosch/sewer_data_db/flow/Engelerschans/')
'''

C:\Users\s162378\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

"\nbokhoven = read_file_to_df('./data/den bosch/sewer_data_db/flow/Bokhoven/')\n\n\nhaarsteeg = read_file_to_df('./data/den bosch/sewer_data_db/flow/Haarsteeg/')\nhelftheuvelweg = read_file_to_df('./data/den bosch/sewer_data_db/flow/Helftheuvelweg/')\nmaaspoort = read_file_to_df('./data/den bosch/sewer_data_db/flow/Maaspoort/')\noud_engelseweg = read_file_to_df('./data/den bosch/sewer_data_db/flow/Oud Engelseweg/')\nengelerschans = read_file_to_df('./data/den bosch/sewer_data_db/flow/Engelerschans/')\n"

In [42]:
de_rompert = de_rompert2
de_rompert.head()

,Unnamed: 0,datumBeginMeting,datumEindeMeting,datumMonster,historianEenheid,historianKwaliteit,historianTagnummer,hstWaarde
0,0,2018-01-06 23:59:00,2018-01-07 00:00:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
1,1,2018-01-06 23:58:00,2018-01-06 23:59:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
2,2,2018-01-06 23:57:00,2018-01-06 23:58:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
3,3,2018-01-06 23:56:00,2018-01-06 23:57:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
4,4,2018-01-06 23:55:00,2018-01-06 23:56:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0

In [7]:
#name_list = [bokhoven, de_rompert, haarsteeg, helftheuvelweg, maaspoort, oud_engelseweg, engelerschans]

In [43]:
de_rompert = de_rompert[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]

'''
bokhoven = bokhoven[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
haarsteeg = haarsteeg[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
helftheuvelweg = helftheuvelweg[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
maaspoort = maaspoort[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
oud_engelseweg = oud_engelseweg[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
engelerschans = engelerschans[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]


engelerschans.head()
'''

"\nbokhoven = bokhoven[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]\nhaarsteeg = haarsteeg[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]\nhelftheuvelweg = helftheuvelweg[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]\nmaaspoort = maaspoort[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]\noud_engelseweg = oud_engelseweg[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]\nengelerschans = engelerschans[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]\n\n\nengelerschans.head()\n"

In [44]:
de_rompert = de_rompert.rename(columns={'hstWaarde' : 'de_rompert'})
'''
bokhoven = bokhoven.rename(columns ={'hstWaarde' : 'bokhoven'})


haarsteeg = haarsteeg.rename(columns={'hstWaarde' : 'haarsteeg'})
helftheuvelweg = helftheuvelweg.rename(columns={'hstWaarde' : 'helftheuvelweg'})
maaspoort = maaspoort.rename(columns={'hstWaarde' : 'maaspoort'})
oud_engelseweg = oud_engelseweg.rename(columns={'hstWaarde' : 'oud_engelseweg'})
engelerschans = engelerschans.rename(columns={'hstWaarde' : 'engelerschans'})
'''

"\nbokhoven = bokhoven.rename(columns ={'hstWaarde' : 'bokhoven'})\n\n\nhaarsteeg = haarsteeg.rename(columns={'hstWaarde' : 'haarsteeg'})\nhelftheuvelweg = helftheuvelweg.rename(columns={'hstWaarde' : 'helftheuvelweg'})\nmaaspoort = maaspoort.rename(columns={'hstWaarde' : 'maaspoort'})\noud_engelseweg = oud_engelseweg.rename(columns={'hstWaarde' : 'oud_engelseweg'})\nengelerschans = engelerschans.rename(columns={'hstWaarde' : 'engelerschans'})\n"

In [45]:
# display_side_by_side(bokhoven.head(), de_rompert.head(), haarsteeg.head(), helftheuvelweg.head()
#                      , maaspoort.head(), oud_engelseweg.head(), engelerschans.head())

In [46]:
de_rompert['datetime'] = pd.to_datetime(de_rompert['datumBeginMeting'], format = '%Y-%m-%d %H:%M:%S')

In [47]:
de_rompert

         datumBeginMeting     datumEindeMeting  de_rompert            datetime
0     2018-01-06 23:59:00  2018-01-07 00:00:00         0.0 2018-01-06 23:59:00
1     2018-01-06 23:58:00  2018-01-06 23:59:00         0.0 2018-01-06 23:58:00
2     2018-01-06 23:57:00  2018-01-06 23:58:00         0.0 2018-01-06 23:57:00
3     2018-01-06 23:56:00  2018-01-06 23:57:00         0.0 2018-01-06 23:56:00
4     2018-01-06 23:55:00  2018-01-06 23:56:00         0.0 2018-01-06 23:55:00
5     2018-01-06 23:54:00  2018-01-06 23:55:00         0.0 2018-01-06 23:54:00
6     2018-01-06 23:53:00  2018-01-06 23:54:00         0.0 2018-01-06 23:53:00
7     2018-01-06 23:52:00  2018-01-06 23:53:00         0.0 2018-01-06 23:52:00
8     2018-01-06 23:51:00  2018-01-06 23:52:00         0.0 2018-01-06 23:51:00
9     2018-01-06 23:50:00  2018-01-06 23:51:00         0.0 2018-01-06 23:50:00
10    2018-01-06 23:49:00  2018-01-06 23:50:00         0.0 2018-01-06 23:49:00
11    2018-01-06 23:48:00  2018-01-06 23:49:00         0.0 2018-01-06 23:48:00
12    2018-01-06 23:47:00  2018-01-06 23:48:00         0.0 2018-01-06 23:47:00
13    2018-01-06 23:46:00  2018-01-06 23:47:00         0.0 2018-01-06 23:46:00
14    2018-01-06 23:45:00  2018-01-06 23:46:00         0.0 2018-01-06 23:45:00
15    2018-01-06 23:44:00  2018-01-06 23:45:00         0.0 2018-01-06 23:44:00
16    2018-01-06 23:43:00  2018-01-06 23:44:00         0.0 2018-01-06 23:43:00
17    2018-01-06 23:42:00  2018-01-06 23:43:00         0.0 2018-01-06 23:42:00
18    2018-01-06 23:41:00  2018-01-06 23:42:00         0.0 2018-01-06 23:41:00
19    2018-01-06 23:40:00  2018-01-06 23:41:00         0.0 2018-01-06 23:40:00
20    2018-01-06 23:39:00  2018-01-06 23:40:00         0.0 2018-01-06 23:39:00
21    2018-01-06 23:38:00  2018-01-06 23:39:00         0.0 2018-01-06 23:38:00
22    2018-01-06 23:37:00  2018-01-06 23:38:00         0.0 2018-01-06 23:37:00
23    2018-01-06 23:36:00  2018-01-06 23:37:00         0.0 2018-01-06 23:36:00
24    2018-01-06 23:35:00  2018-01-06 23:36:00         0.0 2018-01-06 23:35:00
25    2018-01-06 23:34:00  2018-01-06 23:35:00         0.0 2018-01-06 23:34:00
26    2018-01-06 23:33:00  2018-01-06 23:34:00         0.0 2018-01-06 23:33:00
27    2018-01-06 23:32:00  2018-01-06 23:33:00         0.0 2018-01-06 23:32:00
28    2018-01-06 23:31:00  2018-01-06 23:32:00         0.0 2018-01-06 23:31:00
29    2018-01-06 23:30:00  2018-01-06 23:31:00         0.0 2018-01-06 23:30:00
...                   ...                  ...         ...                 ...
8610  2019-07-25 00:29:00  2019-07-25 00:30:00       375.0 2019-07-25 00:29:00
8611  2019-07-25 00:28:00  2019-07-25 00:29:00       769.9 2019-07-25 00:28:00
8612  2019-07-25 00:27:00  2019-07-25 00:28:00       773.4 2019-07-25 00:27:00
8613  2019-07-25 00:26:00  2019-07-25 00:27:00       765.6 2019-07-25 00:26:00
8614  2019-07-25 00:25:00  2019-07-25 00:26:00         0.0 2019-07-25 00:25:00
8615  2019-07-25 00:24:00  2019-07-25 00:25:00         0.0 2019-07-25 00:24:00
8616  2019-07-25 00:23:00  2019-07-25 00:24:00         0.0 2019-07-25 00:23:00
8617  2019-07-25 00:22:00  2019-07-25 00:23:00         0.0 2019-07-25 00:22:00
8618  2019-07-25 00:21:00  2019-07-25 00:22:00         0.0 2019-07-25 00:21:00
8619  2019-07-25 00:20:00  2019-07-25 00:21:00         0.0 2019-07-25 00:20:00
8620  2019-07-25 00:19:00  2019-07-25 00:20:00         0.0 2019-07-25 00:19:00
8621  2019-07-25 00:18:00  2019-07-25 00:19:00         0.0 2019-07-25 00:18:00
8622  2019-07-25 00:17:00  2019-07-25 00:18:00         0.0 2019-07-25 00:17:00
8623  2019-07-25 00:16:00  2019-07-25 00:17:00         0.0 2019-07-25 00:16:00
8624  2019-07-25 00:15:00  2019-07-25 00:16:00         0.0 2019-07-25 00:15:00
8625  2019-07-25 00:14:00  2019-07-25 00:15:00         0.0 2019-07-25 00:14:00
8626  2019-07-25 00:13:00  2019-07-25 00:14:00       406.2 2019-07-25 00:13:00
8627  2019-07-25 00:12:00  2019-07-25 00:13:00       415.8 2019-07-25 00:12:00
8628  2019-07-25 00:11:00  2019-07-25 00:12:00       980.9 2019-07-25 00:11:00
8629  2019-07-25 00:10:00  2019-07-25 00:11:00      1177.1 2019-07-25 00:10:00
8630  2019-07-25 00:09:00  2019-07-25 00:10:00      1181.4 2019-07-25 00:09:00
8631  2019-07-25 00:08:00  2019-07-25 00:09:00      1162.3 2019-07-25 00:08:00
8632  2019-07-25 00:07:00  2019-07-25 00:08:00       443.6 2019-07-25 00:07:00
8633  2019-07-25 00:06:00  2019-07-25 00:07:00       526.0 2019-07-25 00:06:00
8634  2019-07-25 00:05:00  2019-07-25 00:06:00       151.9 2019-07-25 00:05:00
8635  2019-07-25 00:04:00  2019-07-25 00:05:00         0.0 2019-07-25 00:04:00
8636  2019-07-25 00:03:00  2019-07-25 00:04:00         0.0 2019-07-25 00:03:00
8637  2019-07-25 00:02:00  2019-07-25 00:03:00         0.0 2019-07-25 00:02:00
8638  2019-07-25 00:01:00  2019-07-25 00:02:00         0.0 2019-07-25 00:01:00
8639  2019-07-25 00:00:00  2019-07-25 00:01:00         0.0 2019-07-25 00:00:00

[829320 rows x 4 columns]

In [48]:
de_rompert['datumBeginMeting'] = pd.to_datetime(de_rompert['datumBeginMeting'], format='%Y-%m-%d %H:%M:%S')
de_rompert = de_rompert.set_index('datumBeginMeting') # Datetime index

In [49]:
drylist = ['dry_rompert', 'dry_bokhoven', 'dry_haarsteeg', 'dry_helftheuvelweg', 'dry_maaspoort', 'dry_oudengelseweg']

In [61]:
def dry_df(df):
    df = pd.read_csv(df, sep="\n", header=None)
    df.columns = ["a"]
    df['datetime'] = pd.to_datetime(df['a'], format = '%Y-%m-%d %H:%M:%S')
    df = df[['datetime']]
    return df

dry_rompert = dry_df('dry_rompert')
dry_bokhoven = dry_df('dry_bokhoven')
dry_haarsteeg = dry_df('dry_haarsteeg')
dry_helftheuvelweg = dry_df('dry_helftheuvelweg')
dry_maaspoort = dry_df('dry_maaspoort')
dry_oudengelseweg = dry_df('dry_oudengelseweg')

In [62]:
drydfs = [dry_rompert, dry_bokhoven, dry_haarsteeg, dry_helftheuvelweg, dry_maaspoort, dry_oudengelseweg]

In [72]:
dry_rompert

                 datetime
0     2018-02-06 08:05:00
1     2018-02-06 08:10:00
2     2018-02-06 08:15:00
3     2018-02-06 08:20:00
4     2018-02-06 08:25:00
5     2018-02-06 08:30:00
6     2018-02-06 08:35:00
7     2018-02-06 08:40:00
8     2018-02-06 08:45:00
9     2018-02-06 08:50:00
10    2018-02-06 08:55:00
11    2018-02-06 09:00:00
12    2018-02-06 09:05:00
13    2018-02-06 09:10:00
14    2018-02-06 09:15:00
15    2018-02-06 09:20:00
16    2018-02-06 09:25:00
17    2018-02-06 09:30:00
18    2018-02-06 09:35:00
19    2018-02-06 09:40:00
20    2018-02-06 09:45:00
21    2018-02-06 09:50:00
22    2018-02-06 09:55:00
23    2018-02-06 10:00:00
24    2018-02-06 10:05:00
25    2018-02-06 10:10:00
26    2018-02-06 10:15:00
27    2018-02-06 10:20:00
28    2018-02-06 10:25:00
29    2018-02-06 10:30:00
...                   ...
84749 2018-06-08 16:00:00
84750 2018-06-08 17:00:00
84751 2018-06-08 18:00:00
84752 2018-06-08 19:00:00
84753 2018-06-08 20:00:00
84754 2018-06-08 21:00:00
84755 2018-06-08 22:00:00
84756 2018-06-08 23:00:00
84757 2018-07-08 00:00:00
84758 2018-07-08 01:00:00
84759 2018-07-08 02:00:00
84760 2018-07-08 03:00:00
84761 2018-07-08 04:00:00
84762 2018-07-08 05:00:00
84763 2018-07-08 06:00:00
84764 2018-07-08 07:00:00
84765 2018-07-08 08:00:00
84766 2018-07-08 09:00:00
84767 2018-07-08 10:00:00
84768 2018-07-08 11:00:00
84769 2018-07-08 12:00:00
84770 2018-07-08 13:00:00
84771 2018-07-08 14:00:00
84772 2018-07-08 15:00:00
84773 2018-07-08 16:00:00
84774 2018-07-08 17:00:00
84775 2018-07-08 18:00:00
84776 2018-07-08 19:00:00
84777 2018-07-08 20:00:00
84778 2018-07-08 21:00:00

[84779 rows x 1 columns]

In [73]:
de_rompert = de_rompert.groupby(pd.TimeGrouper('5Min'))['de_rompert'].mean()

'''
bokhoven = bokhoven.groupby(pd.TimeGrouper('5Min'))['bokhoven'].mean()
haarsteeg = haarsteeg.groupby(pd.TimeGrouper('5Min'))['haarsteeg'].mean()
helftheuvelweg = helftheuvelweg.groupby(pd.TimeGrouper('5Min'))['helftheuvelweg'].mean()
maaspoort = maaspoort.groupby(pd.TimeGrouper('5Min'))['maaspoort'].mean()
oudengelseweg = oudengelseweg.groupby(pd.TimeGrouper('5Min'))['oudengelseweg'].mean()
'''

C:\Users\s162378\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

TypeError: Cannot compare type 'Timestamp' with type 'str'

In [70]:
def filterDryDays(data, dry):
    rain = np.where(data.index.isin(dry['datetime']), 1, 0)
    return rain

de_rompert['dry'] = filterDryDays(de_rompert, dry_rompert)
'''
bokhoven['dry'] = filterDryDays(bokhoven, dry_bokhoven)
haarsteeg['dry'] = filterDryDays(haarsteeg, dry_haarsteeg)
helftheuvelweg['dry'] = filterDryDays(helftheuvelweg, dry_helftheuvelweg)
maaspoort['dry'] = filterDryDays(maaspoort, dry_maaspoort)
oudengelseweg['dry'] = filterDryDays(oudengelseweg, dry_oudengelseweg)
'''

"\nbokhoven['dry'] = filterDryDays(bokhoven, dry_bokhoven)\nhaarsteeg['dry'] = filterDryDays(haarsteeg, dry_haarsteeg)\nhelftheuvelweg['dry'] = filterDryDays(helftheuvelweg, dry_helftheuvelweg)\nmaaspoort['dry'] = filterDryDays(maaspoort, dry_maaspoort)\noudengelseweg['dry'] = filterDryDays(oudengelseweg, dry_oudengelseweg)\n"

In [71]:
de_rompert

datumBeginMeting
2018-01-01 00:00:00                                                    0
2018-01-01 00:05:00                                                    0
2018-01-01 00:10:00                                                    0
2018-01-01 00:15:00                                                    0
2018-01-01 00:20:00                                                    0
2018-01-01 00:25:00                                                    0
2018-01-01 00:30:00                                                    0
2018-01-01 00:35:00                                                    0
2018-01-01 00:40:00                                                    0
2018-01-01 00:45:00                                                    0
2018-01-01 00:50:00                                                    0
2018-01-01 00:55:00                                                    0
2018-01-01 01:00:00                                                    0
2018-01-01 01:05:00                                                    0
2018-01-01 01:10:00                                                    0
2018-01-01 01:15:00                                                    0
2018-01-01 01:20:00                                                    0
2018-01-01 01:25:00                                                    0
2018-01-01 01:30:00                                                    0
2018-01-01 01:35:00                                                    0
2018-01-01 01:40:00                                                    0
2018-01-01 01:45:00                                                    0
2018-01-01 01:50:00                                                    0
2018-01-01 01:55:00                                                    0
2018-01-01 02:00:00                                                    0
2018-01-01 02:05:00                                                    0
2018-01-01 02:10:00                                                    0
2018-01-01 02:15:00                                                    0
2018-01-01 02:20:00                                                    0
2018-01-01 02:25:00                                                    0
                                             ...
2019-07-30 21:35:00                                               465.54
2019-07-30 21:40:00                                                    0
2019-07-30 21:45:00                                                    0
2019-07-30 21:50:00                                               819.34
2019-07-30 21:55:00                                               434.58
2019-07-30 22:00:00                                                    0
2019-07-30 22:05:00                                               277.12
2019-07-30 22:10:00                                               342.24
2019-07-30 22:15:00                                               300.74
2019-07-30 22:20:00                                               434.56
2019-07-30 22:25:00                                               533.66
2019-07-30 22:30:00                                                    0
2019-07-30 22:35:00                                                    0
2019-07-30 22:40:00                                               299.34
2019-07-30 22:45:00                                               697.56
2019-07-30 22:50:00                                               215.98
2019-07-30 22:55:00                                                    0
2019-07-30 23:00:00                                                583.9
2019-07-30 23:05:00                                                26.38
2019-07-30 23:10:00                                               386.06
2019-07-30 23:15:00                                               364.78
2019-07-30 23:20:00                                                501.2
2019-07-30 23:25:00                                                    0
2019-07-30 23:30:00                                                    0
2019-07-30 23:35:00                                                465.9
2019-07-30 23:40:00                                               737.22
2019-07-30 23:45:00                                                13.44
2019-07-30 23:50:00                                                    0
2019-07-30 23:55:00                                                473.1
dry                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: de_rompert, Length: 165889, dtype: object

In [ ]:
de_rompert['interaction'] = de_rompert['de_rompert']*de_rompert['dry']

#### Time series analysis

In [ ]:
series = de_rompert['interaction']#.groupby([de_rompert.index.year, de_rompert.index.month, de_rompert.index.day, de_rompert.index.hour]).mean()

In [ ]:
series

In [ ]:
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from matplotlib import pyplot

In [ ]:

pyplot.figure()
pyplot.subplot(211)
plot_acf(series, ax=pyplot.gca(), lags = 24)
pyplot.subplot(212)
plot_pacf(series, ax=pyplot.gca(), lags = 24)
pyplot.show()

In [ ]:
from statsmodels.tsa.arima_model import ARMAResults
print(ARMAResults.summary())

In [ ]:
from statsmodels.tsa.stattools import adfuller
def test_stationarity(timeseries):
    
    #Determing rolling statistics
    rolmean = timeseries.rolling(window=12).mean()
    rolstd = timeseries.rolling(window=12).std()

    #Plot rolling statistics:
    orig = plt.plot(timeseries, color='blue',label='Original')
    mean = plt.plot(rolmean, color='red', label='Rolling Mean')
    std = plt.plot(rolstd, color='black', label = 'Rolling Std')
    plt.legend(loc='best')
    plt.title('Rolling Mean & Standard Deviation')
    plt.show(block=False)
    
    #Perform Dickey-Fuller test:
    print('Results of Dickey-Fuller Test:')
    dftest = adfuller(timeseries, autolag='AIC')
    dfoutput = pd.Series(dftest[0:4], index=['Test Statistic','p-value','#Lags Used','Number of Observations Used'])
    for key,value in dftest[4].items():
        dfoutput['Critical Value (%s)'%key] = value
    print(dfoutput)

In [ ]:
test_stationarity(y)

In [ ]:
from pylab import rcParams
rcParams['figure.figsize'] = 18, 8
decomposition = sm.tsa.seasonal_decompose(y, model='additive', freq = 1)
fig = decomposition.plot()
plt.show()

In [ ]:
p = d = q = range(0, 2)
pdq = list(itertools.product(p, d, q))
seasonal_pdq = [(x[0], x[1], x[2], 12) for x in list(itertools.product(p, d, q))]
print('Examples of parameter combinations for Seasonal ARIMA...')
print('SARIMAX: {} x {}'.format(pdq[1], seasonal_pdq[1]))
print('SARIMAX: {} x {}'.format(pdq[1], seasonal_pdq[2]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[3]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[4]))

In [ ]:
for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            mod = sm.tsa.statespace.SARIMAX(y,
                                            order=param,
            seasonal_order=param_seasonal,
            enforce_stationarity=False,
            enforce_invertibility=False)

            results = mod.fit()

            print('ARIMA{}x{}12 - AIC:{}'.format(param, param_seasonal, results.aic))
        except:
            continue