In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
pd.options.mode.chained_assignment = None
import glob

In [2]:
def read_file_to_df(path):
    all_files = glob.glob(path + '/*.csv')
    df = pd.DataFrame()
    for filename in all_files:
        temp = pd.read_csv(filename)
        df = pd.concat([df, temp])
    return df

In [3]:
bokhoven = engelerschans = read_file_to_df('C:/Users/20175848/Documents/waterschap-datachallenge/data/den bosch/sewer_data_db/flow/Bokhoven/')
de_rompert = read_file_to_df('C:/Users/20175848/Documents/waterschap-datachallenge/data/den bosch/sewer_data_db/flow/de Rompert/')
haarsteeg = read_file_to_df('C:/Users/20175848/Documents/waterschap-datachallenge/data/den bosch/sewer_data_db/flow/Haarsteeg/')
helftheuvelweg = read_file_to_df('C:/Users/20175848/Documents/waterschap-datachallenge/data/den bosch/sewer_data_db/flow/Helftheuvelweg/')
maaspoort = read_file_to_df('C:/Users/20175848/Documents/waterschap-datachallenge/data/den bosch/sewer_data_db/flow/Maaspoort/')
oud_engelseweg = read_file_to_df('C:/Users/20175848/Documents/waterschap-datachallenge/data/den bosch/sewer_data_db/flow/Oud Engelseweg/')
engelerschans = read_file_to_df('C:/Users/20175848/Documents/waterschap-datachallenge/data/den bosch/sewer_data_db/flow/Engelerschans/')

C:\Users\20175848\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [9]:
name_list = [bokhoven, de_rompert, haarsteeg, helftheuvelweg, maaspoort, oud_engelseweg, engelerschans]

In [5]:
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [8]:
display_side_by_side(bokhoven.head(), de_rompert.head(), haarsteeg.head(), helftheuvelweg.head()
                     , maaspoort.head(), oud_engelseweg.head(), engelerschans.head())

,Unnamed: 0,datumBeginMeting,datumEindeMeting,datumMonster,historianEenheid,historianKwaliteit,historianTagnummer,hstWaarde
0,0,2018-01-06 23:59:00,2018-01-07 00:00:00,NaN,NaN,100,GBS_DB.RG8180/FI510/Debietmeting.Q,0.0
1,1,2018-01-06 23:58:00,2018-01-06 23:59:00,NaN,NaN,100,GBS_DB.RG8180/FI510/Debietmeting.Q,0.0
2,2,2018-01-06 23:57:00,2018-01-06 23:58:00,NaN,NaN,100,GBS_DB.RG8180/FI510/Debietmeting.Q,0.0
3,3,2018-01-06 23:56:00,2018-01-06 23:57:00,NaN,NaN,100,GBS_DB.RG8180/FI510/Debietmeting.Q,0.0
4,4,2018-01-06 23:55:00,2018-01-06 23:56:00,NaN,NaN,100,GBS_DB.RG8180/FI510/Debietmeting.Q,0.0
,Unnamed: 0,datumBeginMeting,datumEindeMeting,datumMonster,historianEenheid,historianKwaliteit,historianTagnummer,hstWaarde
0,0,2018-01-06 23:59:00,2018-01-07 00:00:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
1,1,2018-01-06 23:58:00,2018-01-06 23:59:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
2,2,2018-01-06 23:57:00,2018-01-06 23:58:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
3,3,2018-01-06 23:56:00,2018-01-06 23:57:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
4,4,2018-01-06 23:55:00,2018-01-06 23:56:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
,Unnamed: 0,datumBeginMeting,datumEindeMeting,datumMonster,historianEenheid,historianKwaliteit,historianTagnummer,hstWaarde
0,0,2018-01-06 23:59:00,2018-01-07 00:00:00,NaN,NaN,100,GBS_DB.RG8170/FT510/Debietmeting.Q,4.6
1,1,2018-01-06 23:58:00,2018-01-06 23:59:00,NaN,NaN,100,GBS_DB.RG8170/FT510/Debietmeting.Q,4.6
2,2,2018-01-06 23:57:00,2018-01-06 23:58:00,NaN,NaN,100,GBS_DB.RG8170/FT510/Debietmeting.Q,4.6
3,3,2018-01-06 23:56:00,2018-01-06 23:57:00,NaN,NaN,100,GBS_DB.RG8170/FT510/Debietmeting.Q,4.6
4,4,2018-01-06 23:55:00,2018-01-06 23:56:00,NaN,NaN,100,GBS_DB.RG8170/FT510/Debietmeting.Q,4.6
,Unnamed: 0,datumBeginMeting,datumEindeMeting,datumMonster,historianEenheid,historianKwaliteit,historianTagnummer,hstWaarde
0,0,2018-01-06 23:59:00,2018-01-07 00:00:00,NaN,m/h,100,RWZI_DB/wl/TR/ntk1/1210FIT301/AN.Q,1.0
1,1,2018-01-06 23:58:00,2018-01-06 23:59:00,NaN,m/h,100,RWZI_DB/wl/TR/ntk1/1210FIT301/AN.Q,1.0
2,2,2018-01-06 23:57:00,2018-01-06 23:58:00,NaN,m/h,100,RWZI_DB/wl/TR/ntk1/1210FIT301/AN.Q,1.0
3,3,2018-01-06 23:56:00,2018-01-06 23:57:00,NaN,m/h,100,RWZI_DB/wl/TR/ntk1/1210FIT301/AN.Q,1.0
4,4,2018-01-06 23:55:00,2018-01-06 23:56:00,NaN,m/h,100,RWZI_DB/wl/TR/ntk1/1210FIT301/AN.Q,1.0
,Unnamed: 0,datumBeginMeting,datumEindeMeting,datumMonster,historianEenheid,historianKwaliteit,historianTagnummer,hstWaarde
0,0,2018-01-06 23:59:00,2018-01-07 00:00:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
1,1,2018-01-06 23:58:00,2018-01-06 23:59:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
2,2,2018-01-06 23:57:00,2018-01-06 23:58:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
3,3,2018-01-06 23:56:00,2018-01-06 23:57:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
4,4,2018-01-06 23:55:00,2018-01-06 23:56:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT501/AN.Q,0.0
,Unnamed: 0,datumBeginMeting,datumEindeMeting,datumMonster,historianEenheid,historianKwaliteit,historianTagnummer,hstWaarde
0,0,2018-01-06 23:59:00,2018-01-07 00:00:00,NaN,m/h,100,RWZI_DB/wl/TR/ntk1/1210FIT401/AN.Q,0.0
1,1,2018-01-06 23:58:00,2018-01-06 23:59:00,NaN,m/h,100,RWZI_DB/wl/TR/ntk1/1210FIT401/AN.Q,0.0
2,2,2018-01-06 23:57:00,2018-01-06 23:58:00,NaN,m/h,100,RWZI_DB/wl/TR/ntk1/1210FIT401/AN.Q,0.0
3,3,2018-01-06 23:56:00,2018-01-06 23:57:00,NaN,m/h,100,RWZI_DB/wl/TR/ntk1/1210FIT401/AN.Q,0.0
4,4,2018-01-06 23:55:00,2018-01-06 23:56:00,NaN,m/h,100,RWZI_DB/wl/TR/ntk1/1210FIT401/AN.Q,0.0
,Unnamed: 0,datumBeginMeting,datumEindeMeting,datumMonster,historianEenheid,historianKwaliteit,historianTagnummer,hstWaarde
0,0,2018-01-06 23:59:00,2018-01-07 00:00:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT201/AN.Q,2.6
1,1,2018-01-06 23:58:00,2018-01-06 23:59:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT201/AN.Q,2.6
2,2,2018-01-06 23:57:00,2018-01-06 23:58:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT201/AN.Q,2.6
3,3,2018-01-06 23:56:00,2018-01-06 23:57:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT201/AN.Q,2.6
4,4,2018-01-06 23:55:00,2018-01-06 23:56:00,NaN,m/h,100.0,RWZI_DB/wl/TR/ntk1/1210FIT201/AN.Q,2.6

In [50]:
bokhoven = bokhoven[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
de_rompert = de_rompert[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
haarsteeg = haarsteeg[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
helftheuvelweg = helftheuvelweg[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
maaspoort = maaspoort[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
oud_engelseweg = oud_engelseweg[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]
engelerschans = engelerschans[['datumBeginMeting', 'datumEindeMeting', 'hstWaarde']]


engelerschans.head()

      datumBeginMeting     datumEindeMeting  hstWaarde
0  2018-01-06 23:59:00  2018-01-07 00:00:00        2.6
1  2018-01-06 23:58:00  2018-01-06 23:59:00        2.6
2  2018-01-06 23:57:00  2018-01-06 23:58:00        2.6
3  2018-01-06 23:56:00  2018-01-06 23:57:00        2.6
4  2018-01-06 23:55:00  2018-01-06 23:56:00        2.6

In [52]:
bokhoven = bokhoven.rename(columns ={'hstWaarde' : 'bokhoven'})
de_rompert = de_rompert.rename(columns={'hstWaarde' : 'de_rompert'})
haarsteeg = haarsteeg.rename(columns={'hstWaarde' : 'haarsteeg'})
helftheuvelweg = helftheuvelweg.rename(columns={'hstWaarde' : 'helftheuvelweg'})
maaspoort = maaspoort.rename(columns={'hstWaarde' : 'maaspoort'})
oud_engelseweg = oud_engelseweg.rename(columns={'hstWaarde' : 'oud_engelseweg'})
engelerschans = engelerschans.rename(columns={'hstWaarde' : 'engelerschans'})

In [53]:
# display_side_by_side(bokhoven.head(), de_rompert.head(), haarsteeg.head(), helftheuvelweg.head()
#                      , maaspoort.head(), oud_engelseweg.head(), engelerschans.head())

,datumBeginMeting,datumEindeMeting,bokhoven
0,2018-01-06 23:59:00,2018-01-07 00:00:00,0.0
1,2018-01-06 23:58:00,2018-01-06 23:59:00,0.0
2,2018-01-06 23:57:00,2018-01-06 23:58:00,0.0
3,2018-01-06 23:56:00,2018-01-06 23:57:00,0.0
4,2018-01-06 23:55:00,2018-01-06 23:56:00,0.0
,datumBeginMeting,datumEindeMeting,de_rompert
0,2018-01-06 23:59:00,2018-01-07 00:00:00,0.0
1,2018-01-06 23:58:00,2018-01-06 23:59:00,0.0
2,2018-01-06 23:57:00,2018-01-06 23:58:00,0.0
3,2018-01-06 23:56:00,2018-01-06 23:57:00,0.0
4,2018-01-06 23:55:00,2018-01-06 23:56:00,0.0
,datumBeginMeting,datumEindeMeting,haarsteeg
0,2018-01-06 23:59:00,2018-01-07 00:00:00,4.6
1,2018-01-06 23:58:00,2018-01-06 23:59:00,4.6
2,2018-01-06 23:57:00,2018-01-06 23:58:00,4.6
3,2018-01-06 23:56:00,2018-01-06 23:57:00,4.6
4,2018-01-06 23:55:00,2018-01-06 23:56:00,4.6
,datumBeginMeting,datumEindeMeting,helftheuvelweg
0,2018-01-06 23:59:00,2018-01-07 00:00:00,1.0
1,2018-01-06 23:58:00,2018-01-06 23:59:00,1.0
2,2018-01-06 23:57:00,2018-01-06 23:58:00,1.0
3,2018-01-06 23:56:00,2018-01-06 23:57:00,1.0
4,2018-01-06 23:55:00,2018-01-06 23:56:00,1.0
,datumBeginMeting,datumEindeMeting,maaspoort
0,2018-01-06 23:59:00,2018-01-07 00:00:00,0.0
1,2018-01-06 23:58:00,2018-01-06 23:59:00,0.0
2,2018-01-06 23:57:00,2018-01-06 23:58:00,0.0
3,2018-01-06 23:56:00,2018-01-06 23:57:00,0.0
4,2018-01-06 23:55:00,2018-01-06 23:56:00,0.0
,datumBeginMeting,datumEindeMeting,oud_engelseweg
0,2018-01-06 23:59:00,2018-01-07 00:00:00,0.0
1,2018-01-06 23:58:00,2018-01-06 23:59:00,0.0
2,2018-01-06 23:57:00,2018-01-06 23:58:00,0.0
3,2018-01-06 23:56:00,2018-01-06 23:57:00,0.0
4,2018-01-06 23:55:00,2018-01-06 23:56:00,0.0
,datumBeginMeting,datumEindeMeting,engelerschans
0,2018-01-06 23:59:00,2018-01-07 00:00:00,2.6
1,2018-01-06 23:58:00,2018-01-06 23:59:00,2.6
2,2018-01-06 23:57:00,2018-01-06 23:58:00,2.6
3,2018-01-06 23:56:00,2018-01-06 23:57:00,2.6
4,2018-01-06 23:55:00,2018-01-06 23:56:00,2.6

In [33]:
for i in name_list:
    print(i.shape)

(863880, 8)
(829320, 8)
(863880, 8)
(863880, 8)
(829320, 8)
(863880, 8)
(855240, 8)

In [64]:
data = pd.merge(left = bokhoven, right = de_rompert,  on=['datumBeginMeting'], how='inner').drop(['datumEindeMeting_x', 'datumEindeMeting_y'], axis = 1)
data = pd.merge(left = data, right = haarsteeg,  on=['datumBeginMeting'], how='inner').drop(['datumEindeMeting'], axis = 1)
data = pd.merge(left = data, right = helftheuvelweg,  on=['datumBeginMeting'], how='inner').drop(['datumEindeMeting'], axis = 1)
data = pd.merge(left = data, right = maaspoort,  on=['datumBeginMeting'], how='inner').drop(['datumEindeMeting'], axis = 1)
data = pd.merge(left = data, right = oud_engelseweg,  on=['datumBeginMeting'], how='inner').drop(['datumEindeMeting'], axis = 1)
data = pd.merge(left = data, right = engelerschans,  on=['datumBeginMeting'], how='inner').drop(['datumEindeMeting'], axis = 1)

In [65]:
data
# name_list = [bokhoven, de_rompert, haarsteeg, helftheuvelweg, maaspoort, oud_engelseweg, engelerschans]

,datumBeginMeting,bokhoven,de_rompert,haarsteeg,helftheuvelweg,maaspoort,oud_engelseweg,engelerschans
0,2018-01-06 23:59:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
1,2018-01-06 23:58:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
2,2018-01-06 23:57:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
3,2018-01-06 23:56:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
4,2018-01-06 23:55:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
5,2018-01-06 23:54:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
6,2018-01-06 23:53:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
7,2018-01-06 23:52:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
8,2018-01-06 23:51:00,0.0,0.0,4.6,1.0,0.0,0.0,113.3
9,2018-01-06 23:50:00,0.0,0.0,4.6,1.0,0.0,0.0,136.7
10,2018-01-06 23:49:00,0.0,0.0,4.6,1.0,0.0,0.0,175.8
11,2018-01-06 23:48:00,0.0,0.0,4.6,1.0,0.0,0.0,380.2
12,2018-01-06 23:47:00,0.0,0.0,1159.5,1.0,0.0,0.0,1479.1
13,2018-01-06 23:46:00,0.0,0.0,1407.3,1.0,0.0,0.0,1569.0
14,2018-01-06 23:45:00,0.0,0.0,1435.3,7.1,0.0,0.0,1600.2
15,2018-01-06 23:44:00,0.0,0.0,1460.3,125.6,0.0,0.0,1622.4
16,2018-01-06 23:43:00,0.0,0.0,1478.2,600.0,0.0,0.0,1639.3
17,2018-01-06 23:42:00,0.0,0.0,1483.6,1291.2,0.0,0.0,1646.1
18,2018-01-06 23:41:00,0.0,0.0,1488.7,1343.9,0.0,0.0,1647.1
19,2018-01-06 23:40:00,0.0,0.0,1493.9,1397.5,0.0,0.0,1647.1
20,2018-01-06 23:39:00,0.0,0.0,1472.1,1435.0,0.0,0.0,1589.8
21,2018-01-06 23:38:00,0.0,0.0,828.4,1462.3,0.0,0.0,1010.4
22,2018-01-06 23:37:00,0.0,0.0,4.6,1467.4,0.0,0.0,2.6
23,2018-01-06 23:36:00,0.0,0.0,4.6,1465.1,0.0,0.0,2.6
24,2018-01-06 23:35:00,0.0,0.0,4.6,1449.2,0.0,0.0,2.6
25,2018-01-06 23:34:00,0.0,0.0,4.6,391.9,0.0,0.0,2.6
26,2018-01-06 23:33:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
27,2018-01-06 23:32:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
28,2018-01-06 23:31:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
29,2018-01-06 23:30:00,0.0,0.0,4.6,1.0,0.0,0.0,2.6
...,...,...,...,...,...,...,...,...
828210,2019-07-25 00:29:00,0.0,375.0,5.8,1348.9,375.0,452.0,0.0
828211,2019-07-25 00:28:00,0.0,769.9,5.8,1414.7,769.9,0.0,174.5
828212,2019-07-25 00:27:00,0.0,773.4,5.8,1464.4,773.4,205.3,207.8
828213,2019-07-25 00:26:00,0.0,765.6,5.8,1488.7,765.6,367.6,239.6
828214,2019-07-25 00:25:00,0.0,0.0,5.8,1509.9,0.0,348.5,529.9
828215,2019-07-25 00:24:00,0.0,0.0,5.8,1529.2,0.0,0.0,274.7
828216,2019-07-25 00:23:00,0.0,0.0,5.8,1530.2,0.0,499.7,769.5
828217,2019-07-25 00:22:00,0.0,0.0,290.8,1524.1,0.0,504.5,782.5
828218,2019-07-25 00:21:00,0.0,0.0,2021.9,1211.2,0.0,194.1,2526.0
828219,2019-07-25 00:20:00,0.0,0.0,2548.4,0.0,0.0,208.5,2571.5
828220,2019-07-25 00:19:00,0.0,0.0,2557.1,0.0,0.0,245.1,2727.8
828221,2019-07-25 00:18:00,0.0,0.0,2548.5,0.0,0.0,192.6,2710.9
828222,2019-07-25 00:17:00,0.0,0.0,957.8,0.0,0.0,0.0,803.4
828223,2019-07-25 00:16:00,0.0,0.0,5.8,0.0,0.0,0.0,214.8
828224,2019-07-25 00:15:00,0.0,0.0,5.8,0.0,0.0,281.7,253.9
828225,2019-07-25 00:14:00,0.0,0.0,5.8,0.0,0.0,232.3,203.1
828226,2019-07-25 00:13:00,0.0,406.2,5.8,0.0,406.2,1631.2,307.3
828227,2019-07-25 00:12:00,0.0,415.8,5.8,0.0,415.8,2086.3,279.9
828228,2019-07-25 00:11:00,0.0,980.9,5.8,0.0,980.9,2110.2,281.2
828229,2019-07-25 00:10:00,0.0,1177.1,5.8,0.0,1177.1,1884.2,298.2
828230,2019-07-25 00:09:00,0.0,1181.4,5.8,0.0,1181.4,1701.2,298.2
828231,2019-07-25 00:08:00,0.0,1162.3,5.8,0.0,1162.3,2078.4,369.8
828232,2019-07-25 00:07:00,0.0,443.6,5.8,0.0,443.6,2078.4,529.9
828233,2019-07-25 00:06:00,0.0,526.0,660.5,0.0,526.0,1871.5,1119.8
828234,2019-07-25 00:05:00,0.0,151.9,2307.0,0.0,151.9,1597.8,2480.4
828235,2019-07-25 00:04:00,0.0,0.0,2482.4,0.0,0.0,2189.8,2507.7
828236,2019-07-25 00:03:00,0.0,0.0,2492.7,0.0,0.0,2468.2,2523.8
828237,2019-07-25 00:02:00,0.0,0.0,2502.1,0.0,0.0,2450.7,2526.0
828238,2019-07-25 00:01:00,0.0,0.0,2490.4,0.0,0.0,1152.2,2519.5
828239,2019-07-25 00:00:00,0.0,0.0,1260.8,0.0,0.0,375.6,1066.4