In [1]:
import pandas as pd
import os
import datetime

In [2]:
path = "./data/sewer_data/rain_timeseries"

df = pd.DataFrame()
timer = 16
print('Loop done in:')
for file in os.listdir(path):
    file = path + '/' + file
    timer = timer -1
    print(timer)
    if len(df) == 0:
        df = pd.read_csv(file, header=2)
    else:
        newlines = pd.read_csv(file, header=2)
        df = df.append(newlines)
        
df

Loop done in:
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

,Begin,Eind,Kwaliteit,Lekerstraat,11. Speelweide/Vlinkert,Rips,Handel,14. Koolhof,13. Heiakker,Vlierden,...,Ooivaarsrijt,de Brand,Bitswijk,de Geer-zuid,De Hoeven(Haarsteeg),11+19 Grevekeur,CHV-terrein,Geb. 12 Vughterpoort,Heusdenseweg(Haarsteeg),Bosscheweg
0,31-05-2018 22:00:00,31-05-2018 22:05:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,31-05-2018 22:05:00,31-05-2018 22:10:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,31-05-2018 22:10:00,31-05-2018 22:15:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,31-05-2018 22:15:00,31-05-2018 22:20:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,31-05-2018 22:20:00,31-05-2018 22:25:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5,31-05-2018 22:25:00,31-05-2018 22:30:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
6,31-05-2018 22:30:00,31-05-2018 22:35:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
7,31-05-2018 22:35:00,31-05-2018 22:40:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
8,31-05-2018 22:40:00,31-05-2018 22:45:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
9,31-05-2018 22:45:00,31-05-2018 22:50:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
10,31-05-2018 22:50:00,31-05-2018 22:55:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
11,31-05-2018 22:55:00,31-05-2018 23:00:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
12,31-05-2018 23:00:00,31-05-2018 23:05:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
13,31-05-2018 23:05:00,31-05-2018 23:10:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
14,31-05-2018 23:10:00,31-05-2018 23:15:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
15,31-05-2018 23:15:00,31-05-2018 23:20:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
16,31-05-2018 23:20:00,31-05-2018 23:25:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
17,31-05-2018 23:25:00,31-05-2018 23:30:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
18,31-05-2018 23:30:00,31-05-2018 23:35:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
19,31-05-2018 23:35:00,31-05-2018 23:40:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
20,31-05-2018 23:40:00,31-05-2018 23:45:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
21,31-05-2018 23:45:00,31-05-2018 23:50:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
22,31-05-2018 23:50:00,31-05-2018 23:55:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
23,31-05-2018 23:55:00,01-06-2018 00:00:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
24,01-06-2018 00:00:00,01-06-2018 00:05:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
25,01-06-2018 00:05:00,01-06-2018 00:10:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
26,01-06-2018 00:10:00,01-06-2018 00:15:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
27,01-06-2018 00:15:00,01-06-2018 00:20:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
28,01-06-2018 00:20:00,01-06-2018 00:25:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
29,01-06-2018 00:25:00,01-06-2018 00:30:00,HydroNET D2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5384,13-08-2018 07:00:00,13-08-2018 08:00:00,HydroNET C2,0.5981,0.0000,0.0034,0.4715,0.3293,0.3613,0.2482,...,0.3262,0.0000,0.1918,0.0046,0.0120,0.0418,0.1031,0.0000,0.0000,0.0000
5385,13-08-2018 08:00:00,13-08-2018 09:00:00,HydroNET B,0.0072,0.0000,0.0005,0.0494,0.1011,0.1244,0.0853,...,0.2652,0.0841,0.0000,0.0000,0.4183,0.0859,0.0000,0.3416,0.3972,0.4783
5386,13-08-2018 09:00:00,13-08-2018 10:00:00,HydroNET B,0.0462,0.0000,0.0000,0.0000,0.1892,0.1284,0.0000,...,0.0000,0.0642,0.4756,0.1923,0.0000,0.0359,0.2883,0.0030,0.0000,0.0000
5387,13-08-2018 10:00:00,13-08-2018 11:00:00,HydroNET B,2.9706,0.0090,0.4165,0.0643,0.0000,0.0000,0.0000,...,0.2950,0.0000,1.2020,0.0000,0.0000,0.0243,0.3648,0.0000,0.0000,0.0000
5388,13-08-2018 11:00:00,13-08-2018 12:00:00,HydroNET B,8.1267,2.4831,9.3237,2.8951,3.3856,3.2828,4.8215,...,3.5512,0.1107,0.4050,0.0000,0.5937,0.0000,0.0000,0.0000,0.1475,0.0632
5389,13-08-2018 12:00:00,13-08-2018 13:00:00,HydroNET B,0.7189,0.8876,9.1568,0.3036,0.3775,0.2850,0.3888,...,0.4066,0.1061,1.4689,0.2924,0.2759,4.0591,1.6171,0.0552,0.2324,0.2793
5390,13-08-2018 13:00:00,13-08-2018 14:00:00,HydroNET B,0.1204,0.0000,0.0079,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.7092,0.2504,0.7299,1.7634,1.2835,2.0508,0.6553,1.7500,0.9082
5391,13-08-2018 14:00:00,13-08-2018 15:00:00,HydroNET B,1.5405,1.4560,2.6093,0.5778,0.1905,0.1605,0.0003,...,0.0000,0.1590,0.4740,0.6127,0.0068,0.4762,0.7161,0.2387,0.0332,0.0000
5392,13-08-2018 15:00:00,13-08-2018 16:00:00,HydroNET B,0.5199,1.2495,1.2491,0.6347,0.5752,0.6222,0.9408,...,0.3773,0.0444,0.5963,0.4763,0.0000,0.0214,0.2258,0.0000,0.0000,0.0000
5393,13-08-2018 16:00:00,13-08-2018 17:00:00,HydroNET B,1.6204,0.6384,1.5555,2.9582,0.5657,0.6440,0.5491,...,1.5504,0.2797,0.3060,0.0941,0.0473,0.0943,0.7795,0.3741,0.0725,0.3064
5394,13-08-2018 17:00:00,13-08-2018 18:00:00,HydroNET B,2.7403,1.4733,2.1506,1.8171,0.2003,0.2151,0.1519,...,0.0249,0.1731,1.3859,16.1909,0.0000,2.9545,11.4671,0.1559,0.0000,0.0000
5395,13-08-2018 18:00:00,13-08-2018 19:00:00,HydroNET B,1.1715,0.9076,1.3175,1.2936,1.8644,1.8328,1.6713,...,1.2861,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5396,13-08-2018 19:00:00,13-08-2018 20:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5397,13-08-2018 20:00:00,13-08-2018 21:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5398,13-08-2018 21:00:00,13-08-2018 22:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5399,13-08-2018 22:00:00,13-08-2018 23:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5400,13-08-2018 23:00:00,14-08-2018 00:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5401,14-08-2018 00:00:00,14-08-2018 01:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5402,14-08-2018 01:00:00,14-08-2018 02:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5403,14-08-2018 02:00:00,14-08-2018 03:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.7740,0.0000,0.0000,0.7925,0.0568,0.0000,0.4740,0.8345,0.6868
5404,14-08-2018 03:00:00,14-08-2018 04:00:00,HydroNET B,0.8679,0.4714,0.5234,0.5035,0.1821,0.1863,0.1888,...,0.0424,0.0000,0.0000,0.0000,0.0000,0.1607,0.4007,0.0000,0.0000,0.0000
5405,14-08-2018 04:00:00,14-08-2018 05:00:00,HydroNET B,0.0000,0.0000,0.1254,0.0000,0.0646,0.1119,0.0951,...,0.1053,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5406,14-08-2018 05:00:00,14-08-2018 06:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5407,14-08-2018 06:00:00,14-08-2018 07:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5408,14-08-2018 07:00:00,14-08-2018 08:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5409,14-08-2018 08:00:00,14-08-2018 09:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5410,14-08-2018 09:00:00,14-08-2018 10:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5411,14-08-2018 10:00:00,14-08-2018 11:00:00,HydroNET B,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5412,14-08-2018 11:00:00,14-08-2018 12:00:00,Ongekalibreerd,0.0000,0.0001,0.0001,0.0000,0.0001,0.0000,0.0001,...,0.0001,0.0000,0.0001,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5413,14-08-2018 12:00:00,14-08-2018 13:00:00,Ongekalibreerd,0.0000,0.0001,0.0001,0.0000,0.0002,0.0003,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0004,0.0000,0.0000,0.0000,0.0002

In [3]:
df['Begin'] = pd.to_datetime(df['Begin'])
df['Eind'] = pd.to_datetime(df['Eind'])
df = df.set_index('Begin')
df.head()

,Eind,Kwaliteit,Lekerstraat,11. Speelweide/Vlinkert,Rips,Handel,14. Koolhof,13. Heiakker,Vlierden,Helenaveen,...,Ooivaarsrijt,de Brand,Bitswijk,de Geer-zuid,De Hoeven(Haarsteeg),11+19 Grevekeur,CHV-terrein,Geb. 12 Vughterpoort,Heusdenseweg(Haarsteeg),Bosscheweg
Begin,,,,,,,,,,,,,,,,,,,,,
2018-05-31 22:00:00,2018-05-31 22:05:00,HydroNET D2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-05-31 22:05:00,2018-05-31 22:10:00,HydroNET D2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-05-31 22:10:00,2018-05-31 22:15:00,HydroNET D2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-05-31 22:15:00,2018-05-31 22:20:00,HydroNET D2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-05-31 22:20:00,2018-05-31 22:25:00,HydroNET D2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df = df.sort_index()

In [5]:
#pd.date_range(start = '2017-12-31 23:00:00', end = '2019-12-07 23:55:00' ).difference(df.index)

In [6]:
def read_pumps_from_file(locatienaam):
    if locatienaam == 'Rompert':
        text_file = open("pumps_for_Rompert.txt")
        lines = [x.strip() for x in text_file.readlines()]
        
    if locatienaam == 'Bokhoven':
        text_file = open("pumps_for_Bokhoven.txt")
        lines = [x.strip() for x in text_file.readlines()]
        
    if locatienaam == 'Haarsteeg':
        text_file = open("pumps_for_Haarsteeg.txt")
        lines = [x.strip() for x in text_file.readlines()]
        
    if locatienaam == 'Helftheuvelweg':
        text_file = open("pumps_for_Helftheuvelweg.txt")
        lines = [x.strip() for x in text_file.readlines()]
        
    if locatienaam == 'Maaspoort':
        text_file = open("pumps_for_Maaspoort.txt")
        lines = [x.strip() for x in text_file.readlines()]
        
    if locatienaam == 'Oudengelseweg':
        text_file = open("pumps_for_OudEngelseweg.txt")
        lines = [x.strip() for x in text_file.readlines()]
        
    return(lines)

Rompert = read_pumps_from_file('Rompert') 
Bokhoven = read_pumps_from_file('Bokhoven') 
Haarsteeg = read_pumps_from_file('Haarsteeg') 
Helftheuvelweg = read_pumps_from_file('Helftheuvelweg') 
Maaspoort = read_pumps_from_file('Maaspoort') 
Oudengelseweg = read_pumps_from_file('Oudengelseweg')

In [7]:
Rompert[0]

'Geb. 25 Noord(Rompert)'

In [8]:
def sum_pumps(pumplist):
    out = pd.DataFrame()
    for pump in pumplist:
        if len(out) == 0:
            out = df[pump].groupby(pd.TimeGrouper('H')).sum()
        else:
            out += df[pump].groupby(pd.TimeGrouper('H')).sum()
    return out

Rompert = sum_pumps(Rompert)
Bokhoven = sum_pumps(Bokhoven)
Haarsteeg = sum_pumps(Haarsteeg)
Helftheuvelweg = sum_pumps(Helftheuvelweg)
Maaspoort = sum_pumps(Maaspoort)
Oudengelseweg = sum_pumps(Oudengelseweg)

C:\Users\20175848\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """
C:\Users\20175848\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  import sys

In [9]:
Rompert.index.shape

(16945,)

In [ ]:
Rompert.groupby(pd.TimeGrouper('H')).sum().plot(figsize = (15,8))

C:\Users\20175848\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

In [ ]:
Rompert.reset_index().to_csv(r'./data/den bosch/whole map/whole_rompert.csv', header = True)
Bokhoven.reset_index().to_csv(r'./data/den bosch/whole map/whole_bokhoven.csv')
Haarsteeg.reset_index().to_csv(r'./data/den bosch/whole map/whole_haarsteeg.csv')
Helftheuvelweg.reset_index().to_csv(r'./data/den bosch/whole map/whole_helftheuvelweg.csv')
Maaspoort.reset_index().to_csv(r'./data/den bosch/whole map/whole_maaspoort.csv')
Oudengelseweg.reset_index().to_csv(r'./data/den bosch/whole map/whole_oudengelseweg.csv')

In [ ]:
Rompert.sort_index()

In [ ]:
def get_dry_wet_times(df):
    Series_rolling_sum = df.rolling(12).sum()
    df_rolling_sum = pd.DataFrame(Series_rolling_sum)
    df_rolling_sum.columns = ['rain_sum']

    df_dry = df_rolling_sum[df_rolling_sum['rain_sum'] <= 0.05]
    df_rainy = df_rolling_sum[df_rolling_sum['rain_sum'] > 0.05]

    dry_times = df_dry.index.tolist()
    rainy_times = df_rainy.index.tolist()
    
    return(dry_times, rainy_times)

In [ ]:
dry_rompert, rain_rompert = get_dry_wet_times(Rompert)
dry_bokhoven, rain_bokhoven = get_dry_wet_times(Bokhoven)
dry_haarsteeg, rain_haarsteeg = get_dry_wet_times(Haarsteeg)
dry_helftheuvelweg, rain_helftheuvelweg = get_dry_wet_times(Helftheuvelweg)
dry_maaspoort, rain_maaspoort = get_dry_wet_times(Maaspoort)
dry_oudengelseweg, rain_oudengelseweg = get_dry_wet_times(Oudengelseweg)

In [ ]:
len(dry_maaspoort)

In [ ]:
def write_dry_file(pump, title):
    with open(title, 'w') as f:
        for item in pump:
            f.write("%s\n" % item)

In [ ]:
write_dry_file(dry_rompert, 'dry_rompert')
write_dry_file(dry_bokhoven, 'dry_bokhoven')
write_dry_file(dry_haarsteeg, 'dry_haarsteeg')
write_dry_file(dry_helftheuvelweg, 'dry_helftheuvelweg')
write_dry_file(dry_maaspoort, 'dry_maaspoort')
write_dry_file(dry_oudengelseweg, 'dry_oudengelseweg')